
.container{
  background-color:  #2055f7;
}
/* navbar */
.navbar-default {
    background-color: #f4428c;
    border-color:#f4428c;
}
/* Title */
.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #f9fafc;
    font-size: 15px;
    font-weight: bolde;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
