

  <!DOCTYPE html>
  {%extends 'testapp/nav.html' %}


  {%load staticfiles%}
    {% block homeintroblock %}
  <header class='masthead'>

  </header>


  <section class="questions-section">

    &nbsp;&nbsp;&nbsp;<p>     Welcome to phanisri.com Art is a form of human expression. Art can be seen as the artist sleight of hand on his mood. Art is elusive as the use of colors shapes and the surface used adds a new dimension. Art is beauty and Art is not what you see, but what you make others see. Inspiration exists, but it has to fine you working

</p>

  </section>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  {%endblock%}
