

  <!DOCTYPE html>
  {%extends 'testapp/nav.html' %}


  {%load staticfiles%}
    {% block homeintroblock %}
  <header class='masthead'>

  </header>


  <section class="questions-section">

    &nbsp;&nbsp;&nbsp;<p>     Phanisri has finished my BTech graduation in (ECE) from Aditya Engineering College. I have been working more creativity about myself
      and quickly to response my mind in my art and fashion work of designing.
</p>

  </section>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  {%endblock%}
