

  <!DOCTYPE html>
  {%extends 'testapp/nav.html' %}


  {%load staticfiles%}
    {% block homeintroblock %}
  <header class='masthead'>

  </header>


  <section class="questions-section">

    &nbsp;&nbsp;&nbsp;<p>     Hi iam phanisri completed my graduation Btech in ECE from JNTU University Kakinada .i have gone training more than a year to be prefect in my skills and works. I had done on  Pencil Sketching,Water Colors, Acrylics on Canvas ,Oil Paintings,Knife Paintings,Tanjore Paintings,Glass Painting, Paper Craft, Quilling,Poster Painting, Pen Engraving,Silk Threading ,Pot Painting,Few Rocks and Egg Engraving . I have won second price in Public awareness  Art Competition Program given by police Commissioner.I had presented all my shades of passion art works in Art Exhibition at Sri Suryakala Mandiram in Kakinada

</p>

  </section>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  {%endblock%}
