<!DOCTYPE html>
{%extends 'testapp/nav.html' %}


{%load staticfiles%}
{%block introblock%}
<header class='masthead'>
  <p class='masthead-intro'>Hi I'm</p>
  <h1 class='masthead-heading'>PHAI SRI !</h1>
</header>

<section class="questions-section">

  <p>  Welcome to phanisri.com Art is a form of human expression. Art can be seen as the artist sleight of hand on his mood. Art is elusive as the use of colors shapes and the surface used adds a new dimension. Art is beauty and Art is not what you see, but what you make others see. Inspiration exists, but it has to fine you working

</p>

</section>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container",align='center'>
<div class="container",align='center'>
  <div class="container",align='center'>
<section  class="CV">
   &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;<a href="https://drive.google.com/open?id=1cJTKoGE09UxA7vMB1TN68gU8sGw5wXWb"><input type="submit" name="" value="Download My CV"></a>
  &nbsp;&nbsp;&nbsp;&nbsp; <a href="/contact"><input type="submit" name="" value="    Hire Me    "></a>
</section>

</div>
</div>
</div>

<footer class="content-footer">
    <p>Say hi to me on these social networks:</p>
    <ul class="social">
        <li><a class="css-is-deranged" href="https://github.com/jagablogspot">GitHub</a></li>

    </ul>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</footer>
{%endblock%}
