<!DOCTYPE html>
{%extends 'testapp/nav.html'%}

{% load staticfiles%}
{%block navblock%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/photo.css "%}">
    <title></title>
  </head>
  <body>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;




<h1>Phani sri's Work</h1>
<img  src="{%static "images/img1.JPG"%}" alt=''>

<img  src="{%static "images/img2.JPG"%}" alt=''>
<img  src="{%static "images/img3.JPG"%}" alt=''>
<img  src="{%static "images/img4.JPG"%}" alt=''>
<img  src="{%static "images/img5.JPG"%}" alt=''>
<img  src="{%static "images/img6.JPG"%}" alt=''>
<img  src="{%static "images/img7.JPG"%}" alt=''>
<img  src="{%static "images/img8.JPG"%}" alt=''>
<img  src="{%static "images/img9.JPG"%}" alt=''>
<img  src="{%static "images/img10.JPG"%}" alt='' >


  </body>
</html>
{%endblock%}
