

  <!DOCTYPE html>
  {%extends 'testapp/nav.html' %}


  {%load staticfiles%}
    {% block homeintroblock %}
  <header class='masthead'>

  </header>


  <section class="questions-section">

    &nbsp;&nbsp;&nbsp;<p>    Phanisri is an Creative art work which can be reused in decorative of gifts which will be worth and proud to buy .Pricing of arts may be varies such while using creating art and time consuming and used materials are expensive.Kindly drop mail to me  "phanisreee@gmail.com." 
</p>

  </section>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  {%endblock%}
